<mat-nav-list>
    <div class="toggle-btn">
        <button mat-icon-button (click)="onToggleSidenav()">
            <img src="assets/menu.svg" alt="Menu" class="menu">
        </button>
    </div>
    <ul class="side-nav-content">
        <li>
            <a routerLink="/owner"><i class="fa fa-user-o"></i>Contracts<i class="fa fa-chevron-down"></i></a>
        </li>
        <li>
            <a routerLink="/account"><i class="fa fa-file-text-o"></i>Documents<i class="fa fa-chevron-down"></i></a>
        </li>
        <li>
            <a routerLink="/account"><i class="fa fa-credit-card"></i>Payout<i class="fa fa-chevron-down"></i></a>
        </li>
        <li>
            <a routerLink="/account"><i class="fa fa-calendar-minus-o"></i>Time<i class="fa fa-chevron-down"></i></a>
        </li>
    </ul>
</mat-nav-list>