a{
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.side-nav-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;

    li {
        margin: 4rem 2rem;
        border: 1px solid white;
        border-radius: 25px;
        background: white;
    }

    i {
        margin: 0 10px;
        font-size: 1rem !important;
    }
}

.toggle-btn {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 3rem;
}
  